<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/post_user">
    <label>Type:</label>
    <input id="type" name="type" type="text"/>
    <input type="submit">
</form>
<br/>
<br/>
<li>ALL:</li>
<br/>
<table style="width:50% ">
    <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Date</th>
    </tr>
    {% for record in all %}
    <tr>
        <th>{{record.id}}</th>
        <th>{{record.type}}</th>
        <th>{{record.date}}</th>
    </tr>
    {% endfor %}
</table>
<br/>
<br/>
<li>Kontaktron:</li>
<br/>
<table style="width:50% ">
    <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Date</th>
    </tr>
    {% for rekord in kontaktron1 %}
    <tr>
        <th>{{rekord.id}}</th>
        <th>{{rekord.type}}</th>
        <th>{{rekord.date}}</th>
    </tr>
    {% endfor %}
</table>
<br/>
<li>Move:</li>
<br/>
<table style="width:50%">
    <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Date</th>
    </tr>
    {% for rekord2 in move %}
    <tr>
        <th>{{rekord2.id}}</th>
        <th>{{rekord2.type}}</th>
        <th>{{rekord2.date}}</th>
    </tr>
    {% endfor %}
</table>
<br/>
<br/>
<li>Smoke:</li>
<br/>
<table style="width:50%">
    <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Date</th>
    </tr>
    {% for rekord in smoke %}
    <tr>
        <th>{{rekord.id}}</th>
        <th>{{rekord.type}}</th>
        <th>{{rekord.date}}</th>
    </tr>
    {% endfor %}
</table>
<br/>
<br/>
<li>Water:</li>
<br/>
<table style="width:50%">
    <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Date</th>
    </tr>
    {% for rekord in water %}
    <tr>
        <th>{{rekord.id}}</th>
        <th>{{rekord.type}}</th>
        <th>{{rekord.date}}</th>
    </tr>
    {% endfor %}
</table>
<br/>
<br/>
<li>HightTemperature:</li>
<br/>
<table style="width:50%">
    <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Date</th>
    </tr>
    {% for rekord in highTemperature %}
    <tr>
        <th>{{rekord.id}}</th>
        <th>{{rekord.type}}</th>
        <th>{{rekord.date}}</th>
    </tr>
    {% endfor %}

</body>
</html>